* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    --bgColor: #e1c29c;
    --bgColor1: #e1e1e6;
    --bgFire: #e76f51;
    --bgWater: #e1e1e6;
    --bgPlant: #57cc99;
    --bgColor3: #e1e1e6;

    height: 100vh;
    background-color: var(--bgColor);
    /* background-image: url("./images/");
    background-size: cover; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex {
    height: 90%;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    box-shadow: -1px 1px 4px #3f3c3c;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50% 50%;
    grid-template-areas: "imagem"
                        "conteudo";
    background-color: var(--bgFire);
}

#imagem {
    grid-area: imagem;
    display: flex;
    position: relative;


}

#imagem img {
    width: 90%;
    position: absolute;
    margin: 0 5%;
    bottom: -6%;
    z-index: 3;
}

#conteudo {
    grid-area: conteudo;
    background-color: var(--bgColor1);
    border-radius: 20px;
    z-index: 2;

    box-shadow: 0 -0.1px 8px #747070;
}
