* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    --bgColor: #e1c29c;
    --bgColor1: #e1e1e6;
    --bgFire: #e1e1e6;
    --bgWater: #e1e1e6;
    --bgPlant: #57cc99;
    --bgColor3: #e1e1e6;

    height: 100vh;
    background-color: var(--bgColor);

    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex {
    height: 90%;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50% 50%;
    grid-template-areas: "imagem"
                        "conteudo";
    background-color: var(--bgPlant);
}

#imagem {
    grid-area: imagem;
    display: flex;
}

#conteudo {
    grid-area: conteudo;
    background-color: var(--bgColor1);
    border-radius: 20px;
    z-index: 2;
}
